body {
    background: linear-gradient(rgb(0, 0, 50, 0.5) rgb(0, 0, 50, 0.5))url(chua/shortcut-1.png);
    background-size: cover;
    background-position: center;
}

/*-----------Awal----------*/
.profile{
    width: 100px;
    height: 100px;
}
.login-box {
    min-width: 700px;
    float: none;
    margin: 150px auto;
}
.login-left {
    background-color: rgb(211, 211, 211, 0.5);
    padding: 30px;
}
.login-right {
    background: #fff;
    padding: 30px;
}
.form-control {
    background-color: transparent !important;
}
a{
    
    color: #fff;
    margin-bottom: 200px !important;
}
a{
    color: #fff;
    margin-bottom: 200px !important;
    align-items: center;
    text-transform: uppercase;

}

